<section class="clients">
  <div class="container">
    <h2 class="title clients__title">Our Happy Clients</h2>
    <div class="clients__wrapper">
      <ul class="list-reset clients__list">
        <li class="clients__item">
          <p class="clients__text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit odio dignissim qui blandit molestie consequat.
          </p>
          <div class="clients__content">
            <div class="clicnts__cell"></div>
            <span class="clients__name">John Armstrong</span>
            Customer
          </div>
        </li>
        <li class="clients__item">
          <p class="clients__text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit odio dignissim qui blandit molestie consequat.
          </p>
          <div class="clients__content">
            <div class="clicnts__cell"></div>
            <span class="clients__name">John Armstrong</span>
            Customer
          </div>
        </li>
        <li class="clients__item">
          <p class="clients__text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit odio dignissim qui blandit molestie consequat.
          </p>
          <div class="clients__content">
            <div class="clicnts__cell"></div>
            <span class="clients__name">John Armstrong</span>
            Customer
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
