<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img loading="lazy" src="img/logo.svg" class="image" width="115" height="44" alt="Lionic Legal Solution">
    </a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link " href="#">Home</a></li>
        <li class="nav__item"><a class="nav__link " href="#">Products</a></li>
        <li class="nav__item"><a class="nav__link " href="#">Our Services</a></li>
        <li class="nav__item"><a class="nav__link " href="#">Pricing</a></li>
        <li class="nav__item"><a class="nav__link " href="#">About Us</a></li>
        <li class="nav__item"><a class="nav__link " href="#">Contact Us</a></li>
      </ul>
    </nav>
    <a href="#" class="btn header__btn">Free Trial</a>
  </div>
</header>
