<section class="hero">
  <div class="container hero__container">
   <div class="hero__content">
    <h1 class="hero__title">
      This is simply a smarter way
      to make your legal online
    </h1>
    <p class="hero__descr">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
    </p>
    <a href="#" class="btn hero__btn">Free 30 Day Trial</a>
    <div class="hero__value">
      <span class="hero__value hero__value--icon">SSL secured connection</span>
    </div>
   </div>
  </div>
</section>
