<section class="whatwedo">
  <div class="container">
    <h2 class="title title--center whatwedo__title">What We Do</h2>
    <p class="whatwedo__descr">
      Lionic guides you on making decisions for all aspects of your end-of-life plans.
    </p>
    <div class="whatwedo__wrapper">
      <ul class="list-reset whatwedo__list">
        <li class="whatwedo__item">
          <div class="whatwedo__content">
            <svg class="">
              <use xlink:href="img/sprite.svg#legacy"></use>
            </svg>
            <h3 class="whatwedo__subtitle">Your Legacy</h3>
            <p class="whatwedo__subdescr">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </div>
        </li>
        <li class="whatwedo__item">
          <div class="whatwedo__content">
            <svg class="">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
            <h3 class="whatwedo__subtitle">Your Health</h3>
            <p class="whatwedo__subdescr">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </div>
        </li>
        <li class="whatwedo__item">
          <div class="whatwedo__content">
            <svg class="">
              <use xlink:href="img/sprite.svg#memorial"></use>
            </svg>
            <h3 class="whatwedo__subtitle">Funeral & Memorial</h3>
            <p class="whatwedo__subdescr">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </div>
        </li>
        <li class="whatwedo__item">
          <div class="whatwedo__content">
            <svg class="">
              <use xlink:href="img/sprite.svg#financial"></use>
            </svg>
            <h3 class="whatwedo__subtitle">Legal & Financial</h3>
            <p class="whatwedo__subdescr">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
